.CarHud {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23rem;
    height: 15rem;
    .SpeedType {
        position: absolute;
        bottom: 7.7rem;
        right: 6.5rem;
        height: .9rem;
        width: 4rem;
        > p {
            font-family: 'Tomorrow';
            font-style: normal;
            font-weight: 500;
            font-size: .625rem;
            line-height: .75rem;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #2EFFFF;
            text-shadow: 0px 0px .5rem #2EFFFF;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }
    .SpeedText {
        position: absolute;
        bottom: 7.7rem;
        right: 6.5rem;
        height: 2rem;
        width: 4rem;
      > p {
        font-family: 'Tomorrow';
        font-style: normal;
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.125rem;
        text-align: center;
        text-transform: uppercase;
        color: #FCEE0C;
        text-shadow: 0px 0px .5rem #FCEE0C;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -.188rem 0px;
      }
    }
    .SpeedoMeterBack {
        position: absolute;
        right: 3.45rem;
        bottom: 3.45rem;
        z-index: -1;
    }
    .SpeedoMeter {
        position: absolute;
        right: 3.91rem;
        bottom: 3.91rem;
        z-index: -1;
        transition: .42s all linear;
    }
    .FuelBackground {
        position: absolute;
        right: 4.75rem;
        bottom: .6rem;
    }
    .BackgroundNoos {
        position: absolute;
        right: .6rem;
        bottom: .5rem;
    }
    .FuelText {
        position: absolute;
        left: 13.3rem;
        bottom: 1.25rem;
        > p {
            font-family: 'Tomorrow';
            font-style: normal;
            font-weight: 500;
            font-size: .625rem;
            line-height: .75rem;
            text-align: left;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FCEE0C;
            text-shadow: 0px 0px .5rem #FCEE0C;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
    .Engine {
        position: absolute;
        left: 3.1rem;
        bottom: .9rem;
    }
    .CruiseControl {
        position: absolute;
        left: .8rem;
        bottom: .9rem;
    }
    .Light {
        position: absolute;
        left: 5.5rem;
        bottom: .9rem;
    }
    .Belt {
        position: absolute;
        left: 7.75rem;
        bottom: 1.1rem;
    }
}