.GunHud {
    // animation-name: example;
    // animation-duration: 4s;
    // animation-delay: 2s;
    // position: absolute;
    .AmmoR {
        position: absolute;
        height: 1.5rem;
        width: 4rem;
        margin: auto auto;
        left: 0;
        right: 0;
        bottom: 6.2rem;
        > p {
            text-align: center;
            font-family: 'Tomorrow';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 0;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FCEE0C;
            text-shadow: 0 0 .5rem #FCEE0C;
            > span {
                color: #2EFFFF;
                text-shadow: 0 0 .5rem #2EFFFF;
            }
        }
    }
    .Cross {
        position: absolute;
        margin: auto auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        animation-name: example;
        animation-duration: .4s;
        animation-delay: 0s;
        // background-color: rgba(102, 51, 153, 0.075);
    }
    .Ammo {
        position: absolute;
        margin: auto auto;
        left: 0;
        right: 0;
        bottom: 3.8rem;
        transform: scale();
        // background-color: rgba(102, 51, 153, 0.075);
    }
    .Weapon {
        position: absolute;
        margin: auto auto;
        left: -53.58rem;
        right: 0;
        bottom: 0;
        top: 0;
        // background-color: rgba(102, 51, 153, 0.075);
    }
    .Amination {
        animation: ShotScale .27s ease-out forwards;
        // animation-name: example;
        // animation-duration: .4s;
        // animation-delay: 2s;
    }
}

@keyframes ShotCross {
    0% { transform: scale(1); }
    50% { transform: scale(.4); }
    100% { transform: scale(1); }
    // 0% { transform: scale(1) translate(0px, 0px);}
    // 50% { transform: scale(.6) translate(46px, 33px);}
    // 100% { transform: scale(1) translate(0px, 0px); }
}
@keyframes ShotScale {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
    // 0% { transform: translate(0, 0) rotate(0deg); }
    // 33% { transform: scale(1.3) translate(2px, 2px) rotate(2deg); }
    // 66% { transform: scale(1.3) translate(-2px, 2px) rotate(-2deg); }
    // 100% { transform: scale(1) translate(0, 0) rotate(0deg); }
}

@keyframes ShotScales {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-1px, -1px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}